body {
  background-color: #1b1b1b;
  color: rgb(255, 255, 255);
}
h1 {
  color: #000;
}
button:focus {
  outline: none;
}
h1 {
  position: relative;
}
h1 button {
  position: absolute;
  right: 0;
  transform: translate(120%, -50%);
  z-index: 2;
}
.cards-container {
  background-color: #1b1b1b;
}
.inner-card-front {
  background-color: #1c1e20;
}
.inner-card-back {
  background-color: #1c1e20;
}
.navigation button {
  color: #fff;
}
