<title>Flash Study - Login</title>
<link rel="stylesheet" type="text/css" href="../public/style2.css" />
<div class="main">
  <div class="split left">
    <img src="../public/pink-corner.png" class="pink-corner" alt="" />
    <h1 class="logo"><a href="/">Study</a></h1>
    <div class="login-container">
      <h3>Log in</h3>
      <%- include('./partials/messages') %>
      <form action="/users/login" method="POST">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="example@email.com"
        />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="password"
        />
        <input type="submit" value="Log in" id="login" class="login" />
      </form>
      <span class="no-account"
        >Don't have an account?<a href="/users/register" id="signup-link"
          >Sign up</a
        ></span
      >
    </div>
    <div class="about">
      <ul>
        <li><img src="../public/check.png" /> Create flashcards</li>
        <li><img src="../public/event.png" />Study for exams</li>
        <li><img src="../public/poll.png" />Improve your grades</li>
      </ul>
    </div>
  </div>
  <div class="split right">
    <div class="heading">
      <img class="blue-square" src="../public/blue-fullscreen.png" alt="" />
      <img class="blue-rectangle" src="../public/blue-rectangle.png" alt="" />
      <span class="line">Level up your grades.</span>
      <span class="line">You’re just a few clicks away.</span>
    </div>
    <img class="undraw-svg" src="../public/undraw_studying.svg" alt="" />
    <img class="pink-corner right" src="../public/pink-corner.png" alt="" />
    <img class="white-rectangle" src="../public/white-rectangle.png" alt="" />
    <img class="pink-squares" src="../public/pink-squares.png" alt="" />
    <p>Create your own flashcards and save them for later.</p>
  </div>
</div>
